* {box-sizing: border-box; }
#flex-container {background:#98FB98; display: flex;flex-wrap: wrap; justify-content: space-evenly; }
#flex-container > div {background: #F5FFFA; border: 1px solid; width: 20%; margin: 2px; padding: 5px; }